<%- include("partials/header"); -%>

    <h1>About Our Team</h1>
    <br>
    <p class="startingContent">
        <%= aboutContent %>
    </p>
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <hr>
                    <p class="card-text startingContent">Our mission is to inspire and support individuals in their
                        journaling journey.
                        We aim to create a safe and
                        inclusive space where people can explore their thoughts, emotions, and experiences through
                        writing. By promoting
                        the practice of journaling, we strive to enhance well-being, self-awareness, and overall life
                        satisfaction.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">What We Do</h5>
                    <hr>
                    <ul class="startingContent">
                        <li>We organize interactive sessions to educate and inspire individuals about different
                            journaling techniques, prompts, and approaches.</li>
                        <li>We curate a list of recommended journals, notebooks, pens, and other tools to help
                            individuals find the right materials for their journaling practice.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Join Us</h5>
                    <hr>
                    <p class="card-text startingContent">If you are passionate about journaling or interested in
                        incorporating it into
                        your life, we invite you to send us a message and participate in our
                        workshops to
                        connect with like-minded individuals and explore the world of journaling together.
                        <p class="card-text startingContent">Happy Journaling!</p>
                        </p>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer"); -%>