<%- include("partials/header"); -%>

    <h1>Compose</h1>
    <br>
    <div class="compose-container">
    <form action="/compose" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="titleTxt">
        </div>
        <div class="mb-3">
            <label for="post" class="form-label">Post</label>
            <textarea class="form-control" id="post" rows="5" name="bodyTxt"></textarea>
        </div>
        <br>
        <button type="submit" name="button" class="btn btn-primary compose-btn">Publish</button>
    </form>
</div>

    <%- include("partials/footer"); -%>
